
.header {
  background-color: rgb(0, 0, 0);
  width: 1260px;
  height: 80px;
  font-family: arial;
}
.header__content{
  width: 960px;
  height: 100%;
  display:flex;
  margin:auto;
  align-items: center;
  justify-content: space-between;
}
.header__a{
  font-size: 14px;
  color:white;
}
.header__a_wds {
  font-size: 40px;
  font-weight: bold;
}
main{
  height: 900px;
}
.footer {
  background-color: rgb(0, 0, 0);
  height: 60px;
}
.footer__content{
  width: 960px;
  height: 100%;
  display:flex;
}
.footer__c {
  width: 25px;
  height: 25px;
}

.footer__c_Google{
  background-image: url('../social/google.png');
}
/* .footer__c_RSS {
  background-image: url('../social/RSS.png');
}
.footer__c_Pinterest {
  background-image: url('../social/pinterest.png');
}
.footer__c_Facebook {
  background-image: url('../social/facebook.png');
}
.footer__c_Twitter {
  background-image: url('../social/twitter.png');
} */
