{% extends "layout.html" %}

{% block content %}

    <!-- <aside>
        <h2>YOUR REQUEST STATUS</h2>
        <p id="statusfield"><img src="/static/images/bg1.png" width="230" height="180" alt="Our offices"></p>
    </aside>
    <section>
        <form id="contactform">
            <fieldset>
                <legend>CONTACT US</legend>
                <p><label for="fname">Имя :     </label><br><input type="text" name="fname"></p>
                <p><label for="lname">Фамилия : </label><br><input type="text" name="lname"></p>
                <p><label for="email">E-mail :  </label><br><input type="email" name="email"></p>
                <p>
                <label>Тип запроса:</label><br>
                <select name="reqtype">
                    <option>Сотрудничество</option>
                    <option>Техническая информация</option>
                    <option>Ошибка на сайте</option>
                </select>
                </p>
                <p><b>Введите текст запроса:</b></p>
                <p><textarea rows="10" cols="45" name="reqtext"></textarea></p>
            </fieldset>
            <p><input type="submit" id="sendbtn" value="Отправить"></p>
        </form>		
    </section>
     -->
    
    <div class="contact-us">
        <div class="contact-us__field">
          <div class="contact-us__content">
            <div class="contact-us__info">
              <h1 class="contact-us__h1">Контакты Шлёпы</h2>
              <div class="contact-us__partition"></div>
              <p class="contact-us__text">Nunc ac lorem vel arcu ultricies volutpat at nec arcu. Ut tempus dignissim est, at iaculis massa blandit commodo. In vitae nunc eget arcu aliquam hendrerit a vel dui. Aliquam a sagittis neque, nec congue eros.</p>
            </div>
            <div class="contact-us__columns">
              <div class="contact-us__column">
                <h2 class="contact-us__column-h2">Feel free to drop us a line</h2>
                <p class="contact-us__column-p">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                <form class="contact-us__form">
                  <input class="contact-us__input-text" type="text" placeholder="Full name" name="fullname" required>
                  <input class="contact-us__input-text" type="text" placeholder="E-mail address" name="email" required>
                  <textarea class="contact-us__textarea" placeholder="Message" name="message" required></textarea>
                  <input class="contact-us__input-submit" type="submit">
                </form>
              </div>
              <div class="contact-us__column">
                <h2 class="contact-us__column-h2">Address</h2>
                <p class="contact-us__column-p">Sed facilisis non ipsum et interdum. Suspendisse pretium magna sed auctor dictum. Quisque non dignissim metus, non eleifend mi.</p>

                <p class="contact-us__address">
                  An address here, 100/2<br>
                  Cityname, 20123<br>
                  Country<br>
                  P: (0) 123 456 789<br>
                  E: info@wdsinc.com
                </p>

                <div id="contact-us__map" class="contact-us__map"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <link href="/static/stylesheets/contact-us.css" rel="stylesheet">
      <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
      <script src="static/javascripts/map.js"></script>
      <script src="static/javascripts/contact_us_confirm.js"></script>
      <script type="text/javascript" src="/static/javascripts/formsend.js"></script>
{% endblock %}