{% extends "layout.html" %}

{% block content %}

    <main>
        <div class="main__content">
        <div class="main__head">Наши сервисы</div>
        <div class="main__separator"></div>
        <div class="main__after-head">
            На даной странице вы можете узнать что вы можете делать на данном сайте, наслаждайтесь.
        </div>
        <div id="main__two-column" class="main__two-column">
            {% for service in services %}
                <div class="main__two-column__element">
                    <div class="main__two-column__element__image">
                        <img src="static/images/our-services/{{service['path']}}">
                    </div>
                    <h3>{{service['name']}}</h3>
                    <p>{{service['text']}}</p>
                </div>
            {% endfor %}
        </div>
        </div>
    </main>    
    <link rel="stylesheet" href="static/stylesheets/services.css">
    <script src="static/javascripts/services_request.js"></script>
    <script src="static/javascripts/hidebox.js"></script>

{% endblock %}