.homepage-clients__field {
  background-color: white;
  height: 466px;
}

.homepage-clients__content {
  width: 960px;
  height: 100%;
  margin: auto;
}

.homepage-clients__our-clients {
  width: 960px;
  height: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-clients__clients {
  width: 860px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homepage-clients__arrow:hover {
  cursor: pointer;
}

.homepage-clients__arrow:hover path {
  fill: blue;
}
